<div class="container">
  <div class="logo">
     <mat-icon aria-hidden="false" aria-label="Example donut_small icon" class="icon" style="color: #ff4081;">donut_small</mat-icon>PHOTO FEST
  </div>
    <p class="opening-p">Photo Fest lets you explore images captured in a certain area around the globe <br> 
        search for a location or explore by popular locations
    </p>
</div>
