.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .opening-p{
    text-align: center;
font-size: 16px;
    margin-top: 30px;
  }

  .logo{
      margin-top: 40px;;
  }