.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card{
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    color: #ff4081;
    background-color: #e7e8f1;
}

.icon{
    margin-top: 75px;
}

a{
    text-decoration: none;
}