

<div class="container">

    <a [routerLink]="['photos/'+location]" *ngFor="let location of locations" locationName="{{ location }}">
    <mat-card  class="card">
        <div>
          
                <mat-icon aria-hidden="false" aria-label="Example room icon" class="icon">room</mat-icon>

                <p>{{ location }}</p>
            
        </div>
    
    </mat-card>
</a>
</div>
