<h3 class="imgs-heading">Showing images available in {{searchKey}}</h3>
<div class="img-container">
  <a [routerLink]="['/home/details/'+photo.id]" class="img-container" *ngFor="let photo of photos">
    <mat-card class="img">
      <img height="250px" width="250px" src="https://live.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg">
    </mat-card>
  </a>
  
</div>
