<div class="container">
  <mat-card class="card" *ngIf="photoDetails">
    <mat-card-header>
    
      <mat-card-title>{{ photoDetails.owner.realname }}</mat-card-title>
      <mat-card-subtitle>{{ photoDetails.owner.username }} | {{ photoDetails.owner.location }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://live.staticflickr.com/{{photoDetails.server}}/{{photoDetails.id}}_{{photoDetails.secret}}.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ photoDetails.description._content }}
      </p>
    </mat-card-content>

  </mat-card>
</div>
  
