.img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img{
    background-color: red;
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.imgs-heading{
    margin-left: 50px;
}